google
google-cloud
google-cloud-storage
google-cloud-compute
google-cloud-bigquery
google-cloud-container
google-cloud-dlp
google-cloud-asset
kubernetes
pyyaml
tabulate
colorama
fpdf
matplotlib
csv
pandas